<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- チケット登録用のメールアドレスを格納します。 -->
    <add key="ToMailAddress" value="user1@test.jp" />
    <!-- プロジェクトIDを格納します。 -->
    <add key="ProjectId" value="projetid" />
    <!-- 新規作成時のトラッカーを格納します。 -->
    <add key="DefaultTracker" value="バグ" />
    <!-- 新規作成時のステータスを格納します。 -->
    <add key="DefaultStatus" value="新規" />
    <!-- 新規作成時の優先度を格納します。 -->
    <add key="DefaultPriority" value="通常" />
    <!-- IssueのCSVファイルのファイルパスを格納します。 -->
    <add key="IssueCSVFilePath" value=".\csv\export.csv" />
    <!-- StatusのCSVファイルのファイルパスを格納します。 -->
    <add key="StatusCSVFilePath" value=".\csv\status.csv" />
    <!-- TrackerのCSVファイルのファイルパスを格納します。 -->
    <add key="TrackerCSVFilePath" value=".\csv\tracker.csv" />
    <!-- PriorityのCSVファイルのファイルパスを格納します。 -->
    <add key="PriorityCSVFilePath" value=".\csv\priority.csv" />
    <!-- UserのCSVファイルのファイルパスを格納します。 -->
    <add key="UserCSVFilePath" value=".\csv\user.csv" />
  </appSettings>
</configuration>